# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
bak/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Others
.gitignore~
*.[ch]~
*.un~
*.py~
*.txt~
*.swp
